* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 201, 238);
}

nav {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: rgb(1, 41, 87);
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(34, 68, 221);
    padding: 8px 12px;
    border-radius: 8px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: rgb(0, 0, 105);
    color: whitesmoke;
}


.flower {
    text-align: center;
    padding: 70px 20px;
}

.flower h1 {
    font-size: 40px;
    color: rgb(39, 41, 128);
    margin-bottom: 15px;
}

.flower p {
    font-size: 18px;
    color: rgb(56, 0, 129);
}

.cards {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    flex-wrap: wrap;
}


.card {
    background-color: rgb(255, 255, 255);
    width: 300px;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid rgba(0, 50, 100, 0.08);
    transition: 0.4s;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;

    &:hover {
        padding: 5px;
    }

}

.card h3 {
    color: rgb(255, 0, 191);
    margin-bottom: 8px;
}

.card p {
    color: rgb(21, 21, 92);
    font-size: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 999;
}
.socials a {
    text-decoration: none;  
}


.footer-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}


.icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    text-decoration: none;

}